<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landlord form</title>
</head>
<body>
<h1>Formularz dodania Wynajmujących</h1>
<div th:replace="fragments :: navigator"></div>
<form th:action="@{/landlord/add}" th:method="post" th:object="${newLandlord}">
    <input type="hidden" th:field="*{id}">
    Imie: <input th:field="*{name}"/>
    <br/>
    Nazwisko: <input th:field="*{surname}"/>
    <br/>
    Adres Email: <input type="checkbox"th:field="*{email}"/>
    <br/>
    Login: <input type="number" step="0.01" min="0"th:field="*{login}"/>
    <br/>
    <br/>
    Hasło: <input type="number" step="0.01" min="0"th:field="*{password}"/>
    <br/>
    <input type="prześlij do formularza">
</form>
</body>
</html>