<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"-->
<!--        "http://www.w3.org/TR/html4/loose.dtd">-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenant List</title>
    <style>
        td {
            border: 1px solid #000;
        }
        table {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
<h1>Lista Lokatorów</h1>
<div th:replace="fragments :: navigator"></div>
<br/>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Adres Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="landlord : ${listOfTenants}">
        <td th:text="${tenant.id}"></td>
        <td th:text="${tenant.name}"></td>
        <td th:text="${tenant.surname}"></td>
        <td th:text="${tenant.email}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>